@import 'utilities.css';

:root{
    --primary : #3DCFD3;
    --dark: #161616;
    --middle: #404040;
    --pure: #FFFFFF;
    --ternary: #898989;
    --new: #b3b3b3;
    --light: #F2F2F2;

}
body{
    font-family: 'Poppins',sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}
header{
    background-image: linear-gradient(var(--dark),var(--middle));
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 90%, 0 100%);
}
.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition:all 0.6s ease;
}
header nav .left a:hover{
    color: var(--primary);
    font-size: large;
}
header nav{
    padding: 1.5rem 0;
}
header nav .branding{
    margin-right: 2rem;
}
.hero{
    padding: 1.8rem 0;
}
.hero .left img{
    width: 400px;
}
.hero .right{
    color: var(--pure);
}
.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
.hero .right h1{
    font-size: 4rem;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 2rem;
    transition: all 0.6s ease;
}
.hero .right .title:hover h1{
    transform: scale(1.05);
}
.hero .right .para{
    transition: all 0.6s ease;
}
.hero .right .para:hover {
    transform: scale(1.07);
}
.hero .right .name{
    transition: all 0.6s ease;
}
.hero .right .name:hover {
    transform: scale(1.07);
}

.hero .right h1 span{
    color: var(--primary);
}
.hero .right p{
   line-height: 1.9; 
   margin-bottom: 2rem;
}
.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
section.about.about-me-img{
    height: 450px;
    margin-left: 9rem;
}
section.about h1{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
}
section.about h1 span{
    color: var(--primary);
}

.about h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p{
    color: var(--ternary);
    line-height: 1.9rem;
    margin-bottom: 1rem;
}
.about .social{
    display: flex;
    padding-right:  6rem;
}
.about .imgnice{
    margin-left: 10rem;   
}
.about .imgnice img:hover{
    transform: scale(1.1);
}
.about .social a img{
    transform: scale(1.1);
}
.imgnice{
    height:562px;
    width: 150px;
    /* background: #3DCFD3; */
    overflow: hidden;
}
.imgnice img{
    transition: transform 0.6s ease;
}
.imgnice:hover img{
    transform: scale(1.7);
}
.youtube {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 50px;
    transition: all 0.6s ease;
}
.youtube .top {
    display: none;
    position: absolute;
    top: -1.5px;
    left: -0.5px;
    z-index: 99;
}
.youtube:hover .top {
    display: inline;
}
.facebook {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 50px;
    transition: all 0.6s ease;
}
.facebook .bot{
    padding-top: -5px;
    padding-bottom: 5px;
}
.facebook .top2 {
    display: none;
    position: absolute;
    top: 0;
    left: 2px;
    z-index: 99;
}
.facebook:hover .bot{
    display: none;
    margin-bottom: 10px;
}
.facebook:hover .top2 {
    display: inline;
}
.twitter {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 50px;
    transition: all 0.6s ease;
}
.twitter .top3 {
    display: none;
    position: absolute;
    top: -3px;
    left: -2px;
    z-index: 99;
}
.twitter:hover .top3 {
    display: inline;
}
.social div{
    margin-right: -3rem;
}
.pinterest {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 50px;
    transition: all 0.6s ease;
}
.pinterest .top4 {
    display: none;
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    z-index: 99;
}
.pinterest:hover .top4 {
    display: inline;
}
.insta {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    margin: 50px;
    transition: all 0.6s ease;
}
.insta .top5 {
    display: none;
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    z-index: 99;
}
.insta:hover .top5 {
    display: inline;
}

.section-heading{
    font-size: 3rem;
    font-weight: 400;
    color:var(--dark);
    text-align: center;
    margin-bottom: 2rem;
    line-height: 0.5rem;
}
/* .imgcard1{
    border: 25px solid var(--primary);
} */
.imgcard1 img{
    height: 100px;
    border: 20px solid var(--primary);
} 
.section-heading + p{
    color: var(--ternary);
    margin-bottom: 1rem;
    text-align: center;
    margin-bottom: 8rem;
}
.section-heading{
    margin-top: 5rem;
}
.section-heading span{
    color:var(--primary);
}
section.services .cardwrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.services{
    background: var(--light);
}
section.services .cardwrapper .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all 0.4s ease;
}
section.services .cardwrapper .card img{
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .cardwrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .cardwrapper .card p{
    color: var(--ternary);
    line-height: 1.6;
}
section.services .cardwrapper .card:hover{
    background: var(--dark);
}
section.services .cardwrapper .card:hover h2, section.services .cardwrapper .card:hover p{
    color: var(--pure);
}
section.services{
    background-image: linear-gradient(var(--light),var(--ternary));
    clip-path: polygon(0 0,30% 10%, 100% 0, 100% 100%, 0 100%);
}

section.freelancer{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/camera.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 75%, 0 100%);
    padding-bottom: 14rem;
}
section.freelancer h1{
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
section.freelancer p{
    margin-bottom: 3rem;
}
section.freelancer h1 span{
    color: var(--primary);
}

section.reviews .slider .slide img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 2rem;
}
section.reviews .slider .slide{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 17rem;
}
section.reviews .slider .slide p{
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span{
    font-size: 0.8rem;
    color: var(--primary);
}
section.reviews .slider-dots .dots{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.reviews .slider-dots{
    margin-top: 3rem;
}
section.reviews .slider-dots button{
    font-size: 0;
    width: 13px;
    height: 13px;
    margin-right: 0.7rem;
    border: none;
    outline: none;
    background: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}
section.reviews .dots li.slick-active button{
    background: var(--primary);
    width: 30px;
}
section.reviews{
    margin-top: -9rem;
}
section.art p{
    margin-bottom: 2rem;
}
section.art .sliderart .slideart img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 2rem;
    margin-right: 35rem;
}
section.art .slider-dots-art .dotsart{
    list-style-type: none;
    display: flex!important;
    justify-content: center;
}
section.art .slider-dots-art{
    margin-top: 3rem;
}
section.art .slider-dots-art button{
    font-size: 0;
    width: 13px;
    height: 13px;
    margin-right: 0.7rem;
    border: none;
    outline: none;
    background: var(--pure);
    border-radius: 50px;
    cursor: pointer;
}
section.art .dotsart li.slick-active button{
    background: var(--primary);
    width: 30px;
}
section.art{
    margin-top: -9rem;
    background-image: linear-gradient(var(--light),var(--ternary));
    display: flex;
    justify-content: center;
}
.sliderart{
    margin: 0,-10rem;
    padding: 0 15rem;
}

section.work{
    background: linear-gradient(to top, var(--ternary),var(--light));
    clip-path: polygon(0 0,70% 10%, 100% 0, 100% 100%, 0 100%);
}
section.reviews{
    margin-bottom: -10rem;
    
}
section.work h1{
    margin-top: 13rem;
}
